# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
**/build/

# IDEs
.idea/
*.iml
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class

# Misc
*.tmp
*.bak

# Test reports
test-output/
